<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<table class="table table-hover align-content-center">
    <thead>
    <tr class="table-primary">
        <th>idx</th>
        <th>title</th>
        <th>date</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-light" th:each="board : ${freeBoardList}">
        <td th:text="${board.idx}">Index Here</td>
        <td><a class="boardTitle" href="#" onclick="loadBoardDetails(this.getAttribute('data-idx'))" th:data-idx="${board.idx}"
               th:text="${board.title}">Title here</a>

        </td>
        <td th:text="${board.date}">Date here</td>
    </tr>
    <tr>
        <td colspan="3">페이징</td>
    </tr>
    <tr>
        <td class="align-content-center" colspan="2"><label>
            <select class="form-select-sm">
                <option selected>제목</option>
                <option>내용</option>
            </select>
        </label>
            <label>
                <input class="form-control-sm" type="text">
            </label>
            <button class="btn btn-secondary btn-sm" type="submit">검색</button>
        </td>
        <td>
            <button class="btn btn-secondary btn-sm" onclick="freeBoardWrite()" type="button">글쓰기</button>
        </td>
    </tr>
    </tbody>
</table>
<script th:src="@{/js/FreeBoard.js}"></script>
</body>
</html>