<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="row">
    <div class="col-7">
        <div class="profile">
            <div class="row">
                <div class="col-4" style="background: #bce0fb"></div>
                <div class="col-8">
                    <ul>
                        <li>이름 : <a th:text="${session.emp_info.getEmpName()}">이름들어갑니다</a></li>
                        <li>직급 : <a th:text="${session.emp_info.getEmp_Position()}">직급들어갑니다.</a></li>
                        <li>사번 : <a th:text="${session.emp_info.getEmpId()}">사번들어갑니다</a></li>
                        <li>이메일 : <a th:text="${session.emp_info.getEmpEmail()}">이메일들어갑니다</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Salary">
            <div class="form-group">
                <label class="form-label mt-4">
                    <select class="form-select" th:value="year">
                        <option value="2023">2023</option>
                    </select>
                </label>
                <label class="form-label mt-4">
                    <select class="form-select" th:value="month">
                        <option value="1">1월</option>
                        <option value="2">2월</option>
                        <option value="3">3월</option>
                        <option value="4">4월</option>
                        <option value="5">5월</option>
                        <option value="6">6월</option>
                        <option value="7">7월</option>
                        <option value="8">8월</option>
                        <option value="9">9월</option>
                        <option value="10">10월</option>
                        <option value="11">11월</option>
                        <option value="12">12월</option>
                    </select>
                </label>
            </div>
            <div class="salaryInfo">
                <table class="table table-hover" th:field="salaryInfo">
                    <thead class="table-info">
                    <tr>
                        <th>항목</th>
                        <th>금액</th>
                    </tr>
                    </thead>
                    <tbody class="table-light">
                    <tr>
                        <td>급여</td>
                        <td>$1,200</td>
                    </tr>
                    <tr>
                        <td>인센티브</td>
                        <td>$1,000</td>
                    </tr>
                    <tr>
                        <td>추가근무수당</td>
                        <td>$200</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="attendCalender">
            <div class="form-group row">
                <button class="btn btn-outline-dark btn-sm col-3">이전달</button>
                <h5 class="col-6" id="displayDate" style="text-align: center">날짜</h5>
                <button class="btn btn-outline-dark btn-sm col-3">다음달</button>
            </div>
            <table class="table table-hover" style="text-align: center" th:field="attendCalender">
                <thead class="table-dark">
                <tr>
                    <th>일</th>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                    <th>토</th>
                </tr>
                </thead>
                <tbody class="table-light" id="attendanceTable">
                </tbody>
            </table>
        </div>
        <div class="row align-content-center">
            <button class="btn btn-primary btn-sm col-5" type="button">출근</button>
            <button class="btn btn-warning btn-sm col-5" type="button">퇴근</button>
        </div>
    </div>
</div>
</body>
</html>